.theme1{
    color:#2e3238;
}

.theme2{
    color:#1B82D2;
}

.theme3{
    color:#DF6766;
}

.theme4{
    color:#DE7243;
}

.theme5{
    color:#329C92;
}

.theme6{
    color:#66538B;
}
.theme7{
    color:#A80000;
}