.topM_theme1{
      background-color:#3a3f45;
      border-top-color: #24272c;
      border-top-width: 1px;
}

.topM_theme2{
      background-color:#fff;
      border-top-color: #e2e2e2;
      border-top-width:2px;
      border-bottom-color: #e2e2e2;
      border-bottom-width:2px;
      border-left-color: #e2e2e2;
      border-left-width:2px;
      border-right-color: #e2e2e2;
      border-right-width:2px;
      
}

.topM_theme2_font{
    color:#888;
}

.topM_theme2_border{
    border-top-color: #fff;
}