.iconfont {
    font-family:iconfont;
  }
  .sli-line-div {
    height:1px;
    flex: 1;
  }
  .sli-line {
    width:120px;
    height:1px;
    background-color: #d1d1d1;
  }
  .no-padding {
    padding-top:0px;
  }
  .sli-title {
    font-size:28px;
    color:#888888;
    padding-left:10px;
    padding-right:10px;
  }
  .x-sli-font {
    color:#ffffff;
    font-size:60px;
  }
  .x-sli-icon {
    width:110px;
    height:110px;
    border-radius: 110px;
    align-items: center;
    justify-content: center;
  }
  .wrapper {
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f8f8f8;
  }
  .img-div {
    align-items: center;
    justify-content: center;
    height:230px;
    margin-top:200px;
  }
  .logo-img {
    height:130px;
    width: 430px;
  }
  .content-div {
    align-items: center;
    justify-content: center;
  }
  .margin-top-20 {
    margin-top:20px;
  }
  .margin-top-50 {
    margin-top:200px;
  }
  .cli-div {
    width: 550px;
    height:80px;
    flex-direction :row;
    border-bottom-color: #d1d1d1;
    border-bottom-width: 1px;
    padding-bottom:10px;
  }
  .xli-div {
    width: 550px;
    flex-direction :row;
    padding-top:40px;
    flex: 1;
  }
  .sli-div {
    flex-direction :row;
    padding-top:60px;
    width: 550px;
    align-items: center;
    justify-content: center;
    flex: 1;
  }
  .bli-div {
    width: 550px;
    padding-top:70px;
  }
  .xli-left {
    flex :1;
    align-items: left;
  }
  .xli-right {
    flex :1;
    text-align: right;
    justify-content: center;
    padding-top:6px;
  }
  .remeber-pass {
    color:#33a0d6;
    font-size:28px;
    text-align: right;
  }
  .cli-icon {
    font-size: 40px;
    color:#888888;
    height:80px;
    width:70px;
    margin-top:20px;
  }

  .cli-icon2{
    font-size:33px;
    color:#9e9e9e;
    margin-top:25px;
  }

  .x-input {
    flex: 1;
    height:80px;
  }
  .x-input2 {
    flex: 1;
    height:80px;
  }
  .checkbox-item {
    flex: 1;
  }
  .flex1 {
    flex: 1;
    align-items: center;
    justify-content: center;
  }