.theme1{
    background-color:#2e3238;
}

.theme2{
    background-color:#1B82D2;
}

.theme3{
    background-color:#DF6766;
}

.theme4{
    background-color:#DE7243;
}

.theme5{
    background-color:#329C92;
}

.theme6{
    background-color:#66538B;
}
.theme7{
    background-color:#A80000;
}

